.app {
  display: flex;
  flex-direction: column;
}

.player-container {
  text-align: center;
  display: flex;
  background-color: red;
  width: 100%;
  height: 100%;
  flex: 4;
}


.player {
  width: 100%;
}

.vjs-tech {
    width: auto;
    height: auto;
}

.header {
  flex: 1;
  background-color: white; 
}

#logo {
  width: 300px;
  height: 200px;
}

.footer {
  background-color: white;
  flex: 1;
}

.wrapper {
  width: 100%;
  height: 100%;
}

html, body, main, #root {
  width: 100%;
  height: 100%;
}